* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.hero {
  background-image: linear-gradient(120deg, rgba(166, 192, 254, 0.692) 0%, rgba(246, 128, 132, 0.698) 70%), url("../img/header.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.text-hero {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-hero h1 {
  font-size: 60px;
}

.text-hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.text-hero a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: #a18cd1;
  border-radius: 8px;
  color: #fff;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


/*General styles */

.container,
.wave-container {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}

.container {
  padding: 80px 0;
}

.title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.title.left {
  text-align: left;
}

/* .title.right {
  text-align: right;
} */

/* Section */

.website {
  display: flex;
  justify-content: space-between;
}

.website img {
  width: 48%;
}

.website .container-text-main {
  width: 40%; 
}

.paragraph {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  padding: 12px 15px;
  border-radius: 8px;
  color: #fff;
}

/* Info */

.info {
  background: #f5576c;
  color: #fff;
}

/* Cards */

.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.card {
  width: 30%;
  text-align: center;
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

.card:hover {
  box-shadow: 0 0 6px 0 rgba(119, 17, 17, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.card i {
  margin: 30px 0 20px 0;
  color: #cc9199;
  font-size: 50px;
}

.card p {
  font-family: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

/* Gallery */

.gallery {
  background: #f2f2f2;
}

.gallery-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.gallery-cont>img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}

/* info2 */

.last-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.last-section img {
  width: 48%;
}

.last-section .container-text-main {
  width: 40%;
}

/* footer */

footer {
  background: #f5576c;
  color: #fff;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 20px 10px;
}

.input::placeholder {
  color: #fff;
  font-family: 'Raleway', 'sans-serif';
}

input[type="text"],
input[type="email"]{
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input [type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input [type="submit"]:hover {
  cursor: pointer;
  color: tomato;
  background: #fff;
}